# API
- Application Programming Interface
- api를 이용해서 데이터를 수집하는 것은 서비스에 데이터를 제공하는 공식적인 방법으로 데이터 수집
- naver api: papago api:번역서비스

In [1]:
import pandas as pd
import requests,json

In [2]:
# 1. APP 등록>app_key(request_token)
# https://developers.naver.com

In [3]:
CLIENT_ID, CLIENT_SECRET = "36inOk7JtnjaJvUo9EbY", "zoTcBs3u7a"

In [4]:
# 2. Naver API Document확인>URL

In [5]:
txt= "노무현의 명곡중 하나인 응디씨티"
url ="https://openapi.naver.com/v1/papago/n2mt"
params = {
    "source":"ko",
    "target":"ja",
    "text":txt
}
headers={
    "Content-Type":"application/json",
    "X-Naver-Client-Id":CLIENT_ID,
    "X-Naver-Client-Secret":CLIENT_SECRET
}

In [6]:
# 3. request(url,app_key)

In [7]:
#json.dumps():인터넷 트래픽에서 영문, 숫자, 특수문자만 사용가능
#한글과 같은 문자를 인코딩(영문,숫자,특수문자)
response = requests.post(url,json.dumps(params),headers=headers)
response

In [8]:
response.text

'{"message":{"result":{"srcLangType":"ko","tarLangType":"ja","translatedText":"盧武鉉の名曲の一つであるウンディーシティ","engineType":"N2MT","pivot":null,"dict":null,"tarDict":null},"@type":"response","@service":"naverservice.nmt.proxy","@version":"1.0.0"}}'

In [9]:
# 4. Json(str) > lsit,dic>DataFrame

In [10]:
txt_ja=response.json()["message"]["result"]["translatedText"]
txt_ja

'盧武鉉の名曲の一つであるウンディーシティ'

In [11]:
# 5. 함수로 변경

In [12]:
def translate(txt):
    #txt=input()
    url ="https://openapi.naver.com/v1/papago/n2mt"
    params = {
        "source":"ko",
        "target":"ja",
        "text":txt
    }
    headers={
        "Content-Type":"application/json",
        "X-Naver-Client-Id":CLIENT_ID,
        "X-Naver-Client-Secret":CLIENT_SECRET
    }
    response = requests.post(url,json.dumps(params),headers=headers)
    return response.json()['message']['result']['translatedText']

In [13]:
txt = "응디씨티는 응디가 흔들리는 노래다"
txt_ja = translate(txt)
txt_ja

'ウンディーシティはウンディーが揺れる歌だ'

In [14]:
#6. 한글 excel 파일을 일본 excel 파일로 변경

In [15]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 7C6C-FC35

 C:\Users\User\Desktop\python\크롤링 디렉터리

2022-08-04  오전 09:22    <DIR>          .
2022-08-04  오전 09:22    <DIR>          ..
2022-08-03  오후 03:42    <DIR>          .ipynb_checkpoints
2022-08-03  오후 04:44            10,060 covid.xlsx
2022-08-03  오후 04:53             6,168 covid_jp.xlsx
2022-08-03  오전 11:32             5,168 Crwaling Naver Stock Datas.ipynb
2022-08-03  오전 09:58    <DIR>          day1-20220803T002955Z-001
2022-08-03  오후 02:42         3,368,871 drive-download-20220803T054159Z-001.zip
2022-08-04  오전 09:22            54,217 Request json.ipynb
2022-08-04  오전 09:22            14,977 requests_api.ipynb
               6개 파일           3,459,461 바이트
               4개 디렉터리  132,205,670,400 바이트 남음

In [16]:
covid = pd.read_excel("covid.xlsx")[["category","title"]]
covid.tail(2)

   category                                title
4       104    "코로나 확진자 '0명'인 날은 절대 오지 않는다" 美전문가
5       104  올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑

In [17]:
covide_ja=covid["title"].apply(translate)

In [18]:
covid['title_ja']=covide_ja
#utf-8-sig: exel에서 사용하는 인코딩 방식과 호환이 되는 인코딩 방식
covid.to_excel('covid_jp.xlsx',index=False,encoding="utf-8-sig")

In [19]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 7C6C-FC35

 C:\Users\User\Desktop\python\크롤링 디렉터리

2022-08-04  오전 09:22    <DIR>          .
2022-08-04  오전 09:22    <DIR>          ..
2022-08-03  오후 03:42    <DIR>          .ipynb_checkpoints
2022-08-03  오후 04:44            10,060 covid.xlsx
2022-08-04  오전 09:23             6,168 covid_jp.xlsx
2022-08-03  오전 11:32             5,168 Crwaling Naver Stock Datas.ipynb
2022-08-03  오전 09:58    <DIR>          day1-20220803T002955Z-001
2022-08-03  오후 02:42         3,368,871 drive-download-20220803T054159Z-001.zip
2022-08-04  오전 09:22            54,217 Request json.ipynb
2022-08-04  오전 09:22            14,977 requests_api.ipynb
               6개 파일           3,459,461 바이트
               4개 디렉터리  132,205,604,864 바이트 남음

In [20]:
#함수 :Scope
#변수를 선언 할때 함수 밖에서 선언하는 것과 안에서 선언하는 변수의 메모리저장 공간이 다름
#전역(Global)영역: 함수 밖의 영역
#지역(Local)영역: 함수 안의 영역

In [21]:
data = 10
def change():
    #global data-->전역변수를 지역영역으로 가져옴
    global data
    data =20
change()
print(data)

20

# 실습과제
* http://finance.daum.net/exchanges
* headers : referer,user-agent설정

In [59]:
def DExRage(page,pagesize):
    url =f"https://finance.daum.net/api/exchanges/FRX.KRWUSD/days?perPage={pagesize}&page={page}&pagination=true"
    header={
        'referer' : 'https://m.finance.daum.net/',
        'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'
    }
    response = requests.get(url,headers=header)
    data = response.json()
    data =data['data']
    return pd.DataFrame(data)[['date','basePrice']]

In [60]:
DExRage(1,10)

                  date  basePrice
0  2022-08-04 11:07:53     1309.0
1  2022-08-03 23:56:54     1312.0
2  2022-08-02 23:43:30     1312.0
3  2022-08-01 23:46:59     1305.0
4  2022-07-31 16:17:45     1304.5
5  2022-07-29 23:57:09     1307.0
6  2022-07-28 23:42:51     1303.5
7  2022-07-27 23:48:14     1314.0
8  2022-07-26 22:31:59     1311.0
9  2022-07-25 23:36:56     1312.0

In [58]:
url =f"https://finance.daum.net/api/exchanges/FRX.KRWUSD/days?perPage=10&page=2&pagination=true"
headers={
    'referer' : 'https://m.finance.daum.net/',
    'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'
}
response2 = requests.get(url,json.dumps(params),headers=header)
data = response2.json()
data =data['data']
daum =pd.DataFrame(data)[['date','basePrice']]
daum

                  date  basePrice
0  2022-07-22 23:41:45     1310.0
1  2022-07-21 23:19:42     1315.0
2  2022-07-20 23:53:08     1312.0
3  2022-07-19 23:36:23     1309.0
4  2022-07-18 23:45:08     1315.5
5  2022-07-15 21:49:49     1325.0
6  2022-07-14 23:39:58     1324.0
7  2022-07-13 23:53:02     1305.0
8  2022-07-12 23:23:57     1309.0
9  2022-07-11 23:39:20     1314.0

In [ ]:
#106b9675-226c-42c9-9640-9b73d3f63808